In [1]:
import boto3
import pandas as pd
from io import StringIO
import time

In [2]:
ACCESS_KEY = 'AKIA4PBGUUMCECRKWLKA' 
SECRET_KEY = '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'
REGION_NAME ='ap-south-1'
SCHEMA_NAME = 'covid_data_analysis'
S3_STAGING_DIR = 's3://sarala-test-bucket/output/'
S3_BUCKET_NAME = 'sarala-test-bucket'
S3_OUTPUT_DIR = 'output'

In [3]:
#to interact with service Athena

athena = boto3.client('athena', region_name = 'ap-south-1', aws_access_key_id = ACCESS_KEY ,
                            aws_secret_access_key = SECRET_KEY)

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\boto3\compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

In [4]:
mydict = {}

def query_result(client: boto3.client, response: mydict)->pd.DataFrame:
    while True:
        try:
            client.get_query_results(QueryExecutionId = response['QueryExecutionId'] )
            break
        except Exception as e:
            if "not yet finished" in str(e):
                time.sleep(0.001)
            else:
                raise e
                
    temp_file_location: str = "athena_query_results.csv"
    
    s3 = boto3.client('s3', region_name = 'ap-south-1', aws_access_key_id = ACCESS_KEY ,
                            aws_secret_access_key = SECRET_KEY,)

    s3.download_file(S3_BUCKET_NAME, 
                f"{S3_OUTPUT_DIR}/{response['QueryExecutionId']}.csv",
                temp_file_location,
                )

    return pd.read_csv(temp_file_location)

In [5]:
response = athena.start_query_execution(
    QueryString='select * from enigma_jhu_csv',
    QueryExecutionContext={'Database': SCHEMA_NAME},
    ResultConfiguration={
        'OutputLocation': S3_STAGING_DIR,
        'EncryptionConfiguration': {
            'EncryptionOption': 'SSE_S3'}
    }
)

In [6]:
print(response)

{'QueryExecutionId': '4f0a7c38-ce6f-4dec-b79d-997f317581f2', 'ResponseMetadata': {'RequestId': '8a0c2a79-648b-4ba5-bf22-b8d91e1a4388', 'HTTPStatusCode': 200, 'HTTPHeaders': {'date': 'Sun, 26 Mar 2023 13:15:32 GMT', 'content-type': 'application/x-amz-json-1.1', 'content-length': '59', 'connection': 'keep-alive', 'x-amzn-requestid': '8a0c2a79-648b-4ba5-bf22-b8d91e1a4388'}, 'RetryAttempts': 0}}

In [7]:
enigma_jhu = query_result(athena, response)

In [8]:
enigma_jhu.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"

In [9]:
response = athena.start_query_execution(
    QueryString='select * from us_county',
    QueryExecutionContext={'Database': SCHEMA_NAME},
    ResultConfiguration={
        'OutputLocation': S3_STAGING_DIR,
        'EncryptionConfiguration': {
            'EncryptionOption': 'SSE_S3'}
    }
)


us_county_df = query_result(athena, response)
us_county_df.head()

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\boto3\compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [10]:
response = athena.start_query_execution(
    QueryString='select * from us_states',
    QueryExecutionContext={'Database': SCHEMA_NAME},
    ResultConfiguration={
        'OutputLocation': S3_STAGING_DIR,
        'EncryptionConfiguration': {
            'EncryptionOption': 'SSE_S3'}
    }
)


us_states_df = query_result(athena, response)
us_states_df.head()

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\boto3\compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [11]:
response = athena.start_query_execution(
    QueryString='select * from states_daily',
    QueryExecutionContext={'Database': SCHEMA_NAME},
    ResultConfiguration={
        'OutputLocation': S3_STAGING_DIR,
        'EncryptionConfiguration': {
            'EncryptionOption': 'SSE_S3'}
    }
)


states_daily_df = query_result(athena, response)
states_daily_df.head()

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\boto3\compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886.0,NaN,NaN,NaN,totalTestsViral,1731628.0,33.0,1293.0,...,NaN,0,0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0,0,0,0,0,NaN
1,20210307,AL,499819.0,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788.0,494.0,45976.0,...,NaN,-1,0,997207b430824ea40b8eb8506c19a93e07bc972e,0,0,0,0,0,NaN
2,20210307,AR,324818.0,69092.0,2480716.0,NaN,totalTestsViral,2736442.0,335.0,14926.0,...,NaN,22,11,50921aeefba3e30d31623aa495b47fb2ecc72fae,0,0,0,0,0,NaN
3,20210307,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,NaN,0,0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0,0,0,0,0,NaN
4,20210307,AZ,826454.0,56519.0,3073010.0,NaN,totalTestsViral,7908105.0,963.0,57907.0,...,NaN,5,44,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0,0,0,0,0,NaN

In [12]:
response = athena.start_query_execution(
    QueryString='select * from us_daily',
    QueryExecutionContext={'Database': SCHEMA_NAME},
    ResultConfiguration={
        'OutputLocation': S3_STAGING_DIR,
        'EncryptionConfiguration': {
            'EncryptionOption': 'SSE_S3'}
    }
)


us_daily_df = query_result(athena, response)
us_daily_df.head()

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\boto3\compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [13]:
response = athena.start_query_execution(
    QueryString='select * from us_total_latest',
    QueryExecutionContext={'Database': SCHEMA_NAME},
    ResultConfiguration={
        'OutputLocation': S3_STAGING_DIR,
        'EncryptionConfiguration': {
            'EncryptionOption': 'SSE_S3'}
    }
)


us_total_latest_df = query_result(athena, response)
us_total_latest_df.head()

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\boto3\compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [14]:
response = athena.start_query_execution(
    QueryString='select * from countrycode',
    QueryExecutionContext={'Database': SCHEMA_NAME},
    ResultConfiguration={
        'OutputLocation': S3_STAGING_DIR,
        'EncryptionConfiguration': {
            'EncryptionOption': 'SSE_S3'}
    }
)


countrycode_df = query_result(athena, response)
countrycode_df.head()

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\boto3\compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [15]:
response = athena.start_query_execution(
    QueryString='select * from countypopulation',
    QueryExecutionContext={'Database': SCHEMA_NAME},
    ResultConfiguration={
        'OutputLocation': S3_STAGING_DIR,
        'EncryptionConfiguration': {
            'EncryptionOption': 'SSE_S3'}
    }
)


countypopulation_df = query_result(athena, response)
countypopulation_df.head()

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\boto3\compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [16]:
response = athena.start_query_execution(
    QueryString='select * from state_abv',
    QueryExecutionContext={'Database': SCHEMA_NAME},
    ResultConfiguration={
        'OutputLocation': S3_STAGING_DIR,
        'EncryptionConfiguration': {
            'EncryptionOption': 'SSE_S3'}
    }
)


state_abv_df = query_result(athena, response)

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\boto3\compat.py:88: PythonDeprecationWarning: Boto3 will no longer support Python 3.6 starting May 30, 2022. To continue receiving service updates, bug fixes, and security updates please upgrade to Python 3.7 or later. More information can be found here: https://aws.amazon.com/blogs/developer/python-support-policy-updates-for-aws-sdks-and-tools/
  warnings.warn(warning, PythonDeprecationWarning)

In [17]:
state_abv_df.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [18]:
#since header is not proper
new_head = state_abv_df.iloc[0]
state_abv_df = state_abv_df[1:]
state_abv_df.columns = new_head

In [19]:
state_abv_df.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [20]:
enigma_jhu.columns

Index(['fips', 'admin2', 'province_state', 'country_region', 'last_update',
       'latitude', 'longitude', 'confirmed', 'deaths', 'recovered', 'active',
       'combined_key'],
      dtype='object')

In [21]:
states_daily_df.columns

Index(['date', 'state', 'positive', 'probablecases', 'negative', 'pending',
       'totaltestresultssource', 'totaltestresults', 'hospitalizedcurrently',
       'hospitalizedcumulative', 'inicucurrently', 'inicucumulative',
       'onventilatorcurrently', 'onventilatorcumulative', 'recovered',
       'lastupdateet', 'datemodified', 'checktimeet', 'death', 'hospitalized',
       'hospitalizeddischarged', 'datechecked', 'totaltestsviral',
       'positivetestsviral', 'negativetestsviral', 'positivecasesviral',
       'deathconfirmed', 'deathprobable', 'totaltestencountersviral',
       'totaltestspeopleviral', 'totaltestsantibody', 'positivetestsantibody',
       'negativetestsantibody', 'totaltestspeopleantibody',
       'positivetestspeopleantibody', 'negativetestspeopleantibody',
       'totaltestspeopleantigen', 'positivetestspeopleantigen',
       'totaltestsantigen', 'positivetestsantigen', 'fips', 'positiveincrease',
       'negativeincrease', 'total', 'totaltestresultsincrease', 'posneg',
       'dataqualitygrade', 'deathincrease', 'hospitalizedincrease', 'hash',
       'commercialscore', 'negativeregularscore', 'negativescore',
       'positivescore', 'score', 'grade'],
      dtype='object')

In [22]:
factCovid_1 = enigma_jhu[['fips','province_state', 'country_region','confirmed', 'deaths', 'recovered', 'active']]
factCovid_2 = states_daily_df[['fips', 'positive', 'negative','hospitalizedcurrently', 'hospitalized',
       'hospitalizeddischarged']]
factCovid = pd.merge(factCovid_1, factCovid_2, on = 'fips', how = 'inner')

In [23]:
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,101327.0,305972.0,147.0,NaN,NaN
1,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,101327.0,305972.0,147.0,NaN,NaN
2,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,101066.0,305972.0,136.0,NaN,NaN
3,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,100867.0,305972.0,171.0,NaN,NaN
4,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,100765.0,305972.0,169.0,NaN,NaN

In [ ]:
region_1 = enigma_jhu[['fips','province_state', 'country_region', 'latitude', 'longitude']]
region_2 = us_county_df[['fips','county','state']]
dim_Region = pd.merge(region_1, region_2, on = 'fips', how = 'inner')

In [ ]:
dim_Region.head()

In [ ]:
dim_Date = states_daily_df[['fips','date']]

In [ ]:
dim_Date.head()

In [ ]:
dim_Date['date'] = pd.to_datetime(dim_Date['date'], format = '%Y%m%d')

In [ ]:
dim_Date.head()

In [ ]:
dim_Date['year'] = dim_Date['date'].dt.year
dim_Date['month'] = dim_Date['date'].dt.month
dim_Date['day_of_week'] = dim_Date['date'].dt.dayofweek
dim_Date['day'] = dim_Date['date'].dt.day

In [ ]:
dim_Date.head()

In [ ]:
#to store the created data frames into S3: factCovid, dim_Region, dim_Date
s3 = boto3.client('s3', region_name = 'ap-south-1', aws_access_key_id = ACCESS_KEY ,
                            aws_secret_access_key = SECRET_KEY)
csv_buffer_1 = factCovid.to_csv(index=False).encode('utf-8')
s3.put_object(Bucket = S3_BUCKET_NAME, Key='output/factCovid.csv', Body=csv_buffer_1)

csv_buffer_2 = dim_Region.to_csv(index=False).encode('utf-8')
s3.put_object(Bucket = S3_BUCKET_NAME, Key='output/dim_Region.csv', Body=csv_buffer_2)

csv_buffer_3 = dim_Date.to_csv(index=False).encode('utf-8')
s3.put_object(Bucket = S3_BUCKET_NAME, Key='output/dim_Date.csv', Body=csv_buffer_3)

In [ ]:
#extract the schmea out of the dimensional tables

factCovidSQL = pd.io.sql.get_schema(factCovid.resetindex(), 'factCovid')
print(''.join(factCovidSQL))


dimRegionSQL = pd.io.sql.get_schema(dim_Region.resetindex(), 'dim_Region')
print(''.join(dimRegionSQL))

dimDateSQL = pd.io.sql.get_schema(dim_Date.resetindex(), 'dim_Date')
print(''.join(dimDateSQL))