In [14]:
import psycopg2

In [15]:
#create connection to postgresql
try:
    conn = psycopg2.connect("host = 127.0.0.1 dbname = postgres user = postgres password = sarala")
except psycopg2.Error as e:
    print('Error connecting to the DB')
    print(e)

In [16]:
#create cursor

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print('Unable to create cursor')
    print(e)

In [17]:
conn.set_session(autocommit = True)

In [18]:
#create database
try:
    cur.execute("Create Database MyDB")
except psycopg2.Error as e:
    print('Unable to create DB')
    print(e)

Unable to create DB
database "mydb" already exists

In [19]:
#create connection to the new DB created - MyDB
try:
    conn.close()
except psycopg2.Error as e:
    print(e)
    
try:
    conn = psycopg2.connect("host = 127.0.0.1 dbname = mydb user = postgres password =sarala")
except psycopg2.Error as e:
    print('Could not make the connection')
    print(e)
    
try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print('Unable to create cursor')
    print(e) 

conn.set_session(autocommit = True)

In [20]:
#create table Students

try:
    cur.execute("CREATE TABLE IF NOT EXISTS students (student_id int, name varchar, age int, gender varchar, subject varchar,marks int);")
except psycopg2.Error as e:
    print('Unable to create table')
    print(e)

In [21]:
#insert values to the above table

try:
    cur.execute("INSERT INTO students(student_id, name, age, gender, subject, marks) \
    VALUES(%s, %s, %s, %s, %s, %s)",\
    (1,'Raj', 23, 'Male', 'Python', 85))
except psycopg2.Error as e:
    print('Unable to insert values')
    print(e)     
    


try:
    cur.execute("INSERT INTO students(student_id, name, age, gender, subject, marks) \
    VALUES(%s, %s, %s, %s, %s, %s)",\
    (2,'Priya', 22, 'Female', 'Python', 86))
except psycopg2.Error as e:
    print('Unable to insert values')
    print(e)

In [22]:
#query table
try:
    cur.execute("SELECT * FROM students;")
except psycopg2.Error as e:
    print('Unable to retrieve values')
    print(e)  

row = cur.fetchone()
while row:
    print(row)
    row = cur.fetchone()

(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)
(1, 'Raj', 23, 'Male', 'Python', 85)
(2, 'Priya', 22, 'Female', 'Python', 86)